In [21]:
#1. Find the number of unique numbers in your phone number and store it in one list:

num = input("enter no. : ")
l1 = []
for i in num:
    if len(num)>0 and i not in l1:
        l1.append(i)
print("unique are: ",l1)

enter no. : 5
unique are:  ['5']

In [15]:
#2. String=” Hello world” reverse the given string.

s1="Hello world"
x=s1[::-1]
x

'dlrow olleH'

In [16]:
#3. S=” ASjhdbgjhdbFYYJGJYTFJHGghdbhj%%6teyt894yt83yt87yt87ye”. find the unique
#values in the given string.

s1="ASjhdbgjhdbFYYJGJYTFJHGghdbhj%%6teyt894yt83yt87yt87ye"
s2=""
for i in s1:
    if i in "ASjhdbgjhdbFYYJGJYTFJHGghdbhj%%6teyt894yt83yt87yt87ye":
        if i not in s2:
            s2=s2+i
s2

'ASjhdbgFYJGTH%6tey89437'

In [19]:
#Certainly! You can use a simple Python program to find and store prime numbers from 1 to 100 in a list. Here's an example:

#```python
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Find and store prime numbers from 1 to 100 in a list
prime_numbers = [num for num in range(1, 101) if is_prime(num)]

print("Prime numbers from 1 to 100:", prime_numbers)

Prime numbers from 1 to 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [22]:
with open("vikku.txt", "w") as file:
    file.write("my name = vikas")
with open("vikku.txt",'r') as file:
    print(file.read())

my name = vikas

In [24]:
import pandas as pd
l1 = {'name':['vikas','vim','om','lal','raj'],'age':[22,23,23,21,24],'Salary':[2000,12000,2000,10300,18220]}
df = pd.DataFrame(l1)
df

    name  age  Salary
0  vikas   22    2000
1    vim   23   12000
2     om   23    2000
3    lal   21   10300
4    raj   24   18220