In [2]:
s1='can can you canner can not can you buy can'
l=s1.split()
l

['can', 'can', 'you', 'canner', 'can', 'not', 'can', 'you', 'buy', 'can']

In [11]:
l1=[]
for i in l:
    if i not in l1:
        print(i,":",l.count(i))
        l1.append(i)

can : 5
you : 2
canner : 1
not : 1
buy : 1

In [14]:
l1=['hyd','Mumbai','Chennai','Bengaluru']
# l2=['Mumbai','Chennai','Bengaluru']
for i in l1:
    if len(i)>5:
        print(i)

Mumbai
Chennai
Bengaluru

In [19]:
x=[]
for i in range(1,11):
    x.append(i*i)
x

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

$list$-$Comprehenshion$

In [23]:
num=[(i*i) for i in range(1,11)]
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
l1=['hyd','mumbai']
l2=[i.capitalize() for i in l1]
l2

['Hyd', 'Mumbai']

 $patteren2$

In [27]:
l1=['hyd','Mumbai','Chennai','Bengaluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)
l2

['Mumbai', 'Chennai', 'Bengaluru']

In [29]:
l1=['hyd','Mumbai','Chennai','Bengaluru']
l2=[i for i in l1 if len(i)>5]
l2

['Mumbai', 'Chennai', 'Bengaluru']

In [37]:
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(f"{i}: is even")
    else:
        l.append(f"{i}: is odd")
l

['1: is odd',
 '2: is even',
 '3: is odd',
 '4: is even',
 '5: is odd',
 '6: is even',
 '7: is odd',
 '8: is even',
 '9: is odd',
 '10: is even']

In [39]:
l=[f"{i}: is even" if i%2==0  else f"{i}: is odd" for i in range(1,11)]
l

['1: is odd',
 '2: is even',
 '3: is odd',
 '4: is even',
 '5: is odd',
 '6: is even',
 '7: is odd',
 '8: is even',
 '9: is odd',
 '10: is even']